.answer:hover{
  cursor: pointer;
  outline: black solid 1px;
}

.answer{
  text-align: center;
  list-style-type: none;
  line-height: 28px;
  border: transparent 1px solid;
}

.answers{
  height: 180px;
  width: 400px;
  margin:0;
  margin-left:20px;
  margin-right:20px;
  background-color: beige;
  border: khaki 1px solid;
  border-radius: 10px;
  padding: 0;
}

.answer.correct{
  background-color: lightseagreen;
  border: rgb(18, 146, 140) 1px solid;
}

.answer.wrong{
  background-color: lightcoral;
  border-radius: 3px;
  border: rgb(231, 95, 95) 1px solid;
}